<%= render 'shared/page_header', pre_title: 'Manage Taxpayers', page_title: "Editing Taxpayer", back_path: taxpayers_path %>  

<div class="card">
  <div class="card-body">
    <%= render 'form', taxpayer: @taxpayer %>
  </div>
</div>