<%= render 'shared/page_header', pre_title: 'Manage Companies', page_title: "Editing Company", back_path: companies_path %>  

<div class="card">
  <div class="card-body">
    <%= render 'form', company: @company %>
  </div>
</div>